{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link
    rel="stylesheet"
    href="https://cdn.rtlcss.com/bootstrap/v4.5.3/css/bootstrap.min.css"
    integrity="sha384-RwTiwx1SsPGAsQZ2y3h3fc7kYvKg4tsw3wghAz5z7IYsMfE7GGvBXr+8xcyntYUV"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="./font/IRANSans/css/fontiran.css" />
  <link rel="stylesheet" href="./font/font/css/all.css" /><!--icons link -->
  <link rel="stylesheet" href="{% static 'style.css'%}" />

<body>
<div class="main">
    {% include 'navbar.html' %}
    {% block content %} {% endblock %}
    {% include 'footer.html' %}
</div>


<!-- Bootstrap JavaScript -->
<script src="https://cdn.rtlcss.com/bootstrap/v4.5.3/js/bootstrap.min.js"
        integrity="sha384-H9wjKxkD1VPM3cgrZKpYQwvpM8XhBeZq3vKuWjBpQnV2oN5VZ0j3cKv1dYKb3XX1"
        crossorigin="anonymous"></script>
</body>
</html>