{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container py-5">
        <div class="jumbotron">
            <div class="container my-5">
                <h2 class="text-center mb-5">سبد خرید شما</h2>
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">نام محصول</div>
                                    <div class="col">قیمت واحد</div>
                                    <div class="col">تعداد</div>
                                    <div class="col">تخفیف</div>
                                    <div class="col">قیمت نهایی</div>
                                    <div class="col"></div>
                                </div>
                            </div>
                            <div class="card-body cart-items">
                                {% for item in cart %}
                                    <div class="row">
                                        <div class="col">{{ item.product.name }}</div>
                                        <div class="col">{{ item.price }}</div>
                                        <div class="col-3">
                                            <div class="input-group">
                                                <a href="{% url 'cart:mines' item.product.id %}" class="btn btn-outline-secondary" type="button"
                                                   id="button-minus-1"
                                                   >
                                                    -
                                                </a>
                                                <input type="text" class="form-control text-center"
                                                       value={{ item.quantity }}>
                                                <a href="{% url 'cart:add' item.product.id %}"
                                                   class="btn btn-outline-secondary" type="button"
                                                   id="button-plus-1"
                                                >
                                                    +
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col">{{ item.discount }}</div>
                                        <div class="col">{{ item.price_discount }}</div>
                                        <div class="col">
                                            <a href="{% url 'cart:remove' item.product.id %}" type="button"
                                               class="btn btn-danger btn-sm delete-item"
                                               aria-label="حذف محصول">
                                                <span aria-hidden="true">&times;</span>
                                            </a>
                                        </div>
                                    </div>
                                    <hr>
                                {% endfor %}
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <a href="{% url 'home' %}" type="button" class="btn btn-outline-success btn-large"
                                   aria-label="بازگشت به فروشگاه">بازگشت به صفحه اصلی
                                </a>
                                <a href="{% url 'cart:clear' %}" type="button" class="btn btn-outline-success btn-large"
                                   aria-label="خالی کردن سبد خرید">خالی کردن سبد خرید
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                جزئیات سفارش
                            </div>
                            <div class="card-body col-lg-12">
                                <ul class="list-group col-lg-12">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        جمع کل فاکتور
                                        <span>{{ cart.get_total_price }} تومان </span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        جمع تخفیف
                                        <span>{{ cart.get_total_discount }} تومان </span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        مبلغ قابل پرداخت
                                        <span>{{ cart.get_total_price_discount }} تومان </span>
                                    </li>
                                </ul>
                              {% if user.is_authenticated %}
                                <a href="{% url 'orders:order_create' %}" type="button" class="btn btn-success btn-block mt-3" >تایید سفارش</a>
                                {% else %}
                                <p><a href="{% url 'api:login' %}?next={{ request.path }}"> برای نهایی کردن سفارش ابتدا وارد شوید.</a></p>
                             {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="result"></div>

{% endblock content %}
