{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container py-5">
        <div class="jumbotron">
            <div class="container my-5">
                <h2 class="text-center mb-5">سبد خرید شما</h2>
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">نام محصول</div>
                                    <div class="col">قیمت واحد</div>
                                    <div class="col">تعداد</div>
                                    <div class="col">تخفیف</div>
                                    <div class="col">قیمت نهایی</div>
                                    <div class="col"></div>
                                </div>
                            </div>
                            <div id="cart_items" class="card-body cart-items">
                                <!-- Cart items will be dynamically generated here -->
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <a href="{% url 'home' %}" type="button" class="btn btn-outline-success btn-large"
                                   aria-label="بازگشت به فروشگاه">بازگشت به صفحه اصلی</a>
                                <button id="empty-cart-btn" type="button" class="btn btn-outline-success btn-large"
                                        aria-label="خالی کردن سبد خرید">خالی کردن سبد خرید
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                جزئیات سفارش
                            </div>
                            <div class="card-body col-lg-12">
                                <div class="list-group col-lg-offset-12" id="total-details">
                                    <!-- Total details will be dynamically generated here -->
                                </div>
                                <div class="list-group-item col-lg-offset-12">
                                    {% if user.is_authenticated %}
                                        <button id="create-order-btn" type="button"
                                                class="btn btn-success btn-group-sm btn-block "
                                                aria-label="ادامه و پرداخت">ادامه و پرداخت
                                        </button>
                                    {% else %}
                                        <p><a href="{% url 'login' %}?next={{ request.path }}"> برای نهایی کردن
                                            سفارش
                                            وارد حساب کاربری خود شوید.</a></p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function renderCart() {
            $.ajax({
                type: 'GET',
                url: '/api/cart/',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                },
                success: function (response) {
                    console.log(response);

                    var cartItems = response.items;

                    var cartItemsHTML = '';
                    for (var i = 0; i < cartItems.length; i++) {
                        var item = cartItems[i];

                        var itemHTML = '<div class="row">';
                        itemHTML += '<div class="col">' + item.product.name + '</div>';
                        itemHTML += '<div class="col">' + item.price + '</div>';
                        itemHTML += '<div class="col-3">';
                        itemHTML += '<div class="input-group">';
                        itemHTML += '<button onclick="decrementQuantity(event, \'' + item.product.pk +
                            '\')" class="btn btn-outline-secondary" type="button" id="button-minus-' + item.product.pk +
                            '">-</button>';

                        itemHTML += '<input type="text" class="form-control text-center" value="' + item.quantity +
                            '" id="quantity-' + item.product.pk + '">';
                        itemHTML += '<button onclick="incrementQuantity(event, \'' + item.product.pk +
                            '\')" class="btn btn-outline-secondary" type="button" id="button-plus-' + item.product.pk +
                            '">+</button>';
                        itemHTML += '</div>';
                        itemHTML += '</div>';
                        itemHTML += '<div class="col">' + item.discount + '</div>';
                        itemHTML += '<div class="col">' + item.price_discount + '</div>';
                        itemHTML += '<div class="col">';
                        itemHTML += '<button onclick="removeItem(event, \'' + item.product.pk +
                            '\')" type="button" class="btn btn-danger btn-sm delete-item" aria-label="حذف محصول">';
                        itemHTML += '<span aria-hidden="true">&times;</span>';
                        itemHTML += '</button>';
                        itemHTML += '</div>';
                        itemHTML += '</div>';

                        cartItemsHTML += itemHTML;
                    }

                    $('#cart_items').html(cartItemsHTML);

                    var totalPrice = response.total_price; // Replace with the actual property for total price in the response
                    var totalDiscount = response.total_discount; // Replace with the actual property for total discount in the response
                    var totalPriceDiscount = response.total_price_discount; // Replace with the actual property for total price discount in the response

                    // Create the HTML for displaying total price, total discount, and total price discount
                    var totalPriceHTML = '<li class="list-group-item d-flex justify-content-between align-items-center">';
                    totalPriceHTML += 'جمع کل';
                    totalPriceHTML += '<div id="total-price">' + totalPrice + ' تومان </div>';
                    totalPriceHTML += '</li>';

                    var totalDiscountHTML = '<li class="list-group-item d-flex justify-content-between align-items-center">';
                    totalDiscountHTML += 'تخفیف کل ';
                    totalDiscountHTML += '<div id="total-discount">' + totalDiscount + ' تومان </div>';
                    totalDiscountHTML += '</li>';

                    var totalPriceDiscountHTML = '<li class="list-group-item d-flex justify-content-between align-items-center">';
                    totalPriceDiscountHTML += 'قابل پرداخت';
                    totalPriceDiscountHTML += '<div id="total-price-discount">' + totalPriceDiscount + ' تومان </div>';
                    totalPriceDiscountHTML += '</li>';

                    // Update the HTML elements with the generated HTML
                    $('#total-details').html(totalPriceHTML + totalDiscountHTML + totalPriceDiscountHTML);
                },
                error: function (response) {
                    console.log(response);
                }
            });
        }

        function decrementQuantity(event, productId) {
            event.preventDefault();

            var quantityInput = $('#quantity-' + productId);
            var quantity = parseInt(quantityInput.val());
            if (quantity > 1) {
                quantity--;
                quantityInput.val(quantity);
                updateQuantity(productId, quantity, 'decrement');
            }
               renderCart()

        }

        function incrementQuantity(event, productId) {
            event.preventDefault();

            var quantityInput = $('#quantity-' + productId);
            var quantity = parseInt(quantityInput.val());
            quantity++;
            quantityInput.val(quantity);
            updateQuantity(productId, quantity, 'increment');
            renderCart()

        }

        function updateQuantity(productId, quantity, action) {
            $.ajax({
                type: 'PATCH',
                url: '/api/cart/' + productId + '/',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                }, data: {
                    action: action,
                    quantity: quantity
                },
                success: function (response) {
                    console.log(response);
                    var item = response.item;
                    console.log(item);

                    var priceDiscount = item.price_discount;
                    var discount = item.discount;
                    // Calculate the new total price and total discount based on the updated item
                    var totalPrice = parseInt($('#total-price').text().split(' ')[0]);
                    var totalDiscount = parseInt($('#total-discount').text().split(' ')[0]);

                    totalPrice += priceDiscount;
                    totalDiscount += discount;

                    $('#total-price').text(totalPrice + ' تومان');
                    $('#total-discount').text(totalDiscount + ' تومان');
                    $('#total-price-discount').text((totalPrice - totalDiscount) + ' تومان');
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        function removeItem(event, productId) {
            event.preventDefault();

            $.ajax({
                type: 'DELETE',
                url: '/api/cart/' + productId + '/',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                },
                success: function (response) {
                    console.log(response);
                    var item = response.item;
                    var priceDiscount = item.price_discount;
                    var discount = item.discount;

                    // Calculate the new total price and total discount based on the removed item
                    var totalPrice = parseInt($('#total-price').text().split(' ')[0]);
                    var totalDiscount = parseInt($('#total-discount').text().split(' ')[0]);

                    totalPrice -= priceDiscount;
                    totalDiscount -= discount;

                    $('#total-price').text(totalPrice + ' تومان');
                    $('#total-discount').text(totalDiscount + ' تومان');
                    $('#total-price-discount').text((totalPrice - totalDiscount) + ' تومان');
                },
                error: function (error) {
                    console.log(error);
                }

            });
            renderCart()
        }

        function emptyCart() {
            $.ajax({
                type: 'DELETE',
                url: '/api/cart/',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                },
                success: function (response) {
                    console.log(response);
                    // Update the UI or perform any other actions
                },
                error: function (error) {
                    console.log(error);
                }
            });
            renderCart()
        }

        function createOrder() {
            $.ajax({
                type: 'POST',
                url: '/api/orders/create/',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                },
                data: {
                    address: 'selected_address_id' // Replace 'selected_address_id' with the actual selected address ID
                },
                success: function (response) {
                    console.log(response);
                    // Show the order details or perform any other actions
                    window.location.href = '/order/detail/' + response.id + '/'; // Replace '/orders/' with the actual URL for order details page
                },
                error: function (error) {
                if (error.responseJSON && error.responseJSON.error === 'موجودی کافی نیست') {
                    alert('موجودی کافی نیست'); // Display an alert message
                }
                console.log(error);
            }
            });
        }

        $(document).ready(function () {
            renderCart();

            $('#create-order-btn').click(function () {
                createOrder();
            });
            $('#empty-cart-btn').click(function () {
                emptyCart();
            });
        });


    </script>

{% endblock %}