{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container py-5">
        <div class="jumbotron">
            <div class="container my-5">
                <h2 class="text-center mb-5">سبد خرید شما</h2>
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">نام محصول</div>
                                    <div class="col">قیمت واحد</div>
                                    <div class="col">تعداد</div>
                                    <div class="col">تخفیف</div>
                                    <div class="col">قیمت نهایی</div>
                                    <div class="col"></div>
                                </div>
                            </div>
                            <div class="card-body cart-items">
                                {% for item in cart %}
                                    <div class="row">
                                        <div class="col">{{ item.product.name }}</div>
                                        <div class="col">{{ item.price }}</div>
                                        <div class="col-3">
                                            <div class="input-group">
                                                <button onclick="decrementQuantity({{ item.product.id }})" class="btn btn-outline-secondary" type="button" id="button-minus-{{ item.product.id }}">
                                                    -
                                                </button>
                                                <input type="text" class="form-control text-center" value="{{ item.quantity }}" id="quantity-{{ item.product.id }}">
                                                <button onclick="incrementQuantity({{ item.product.id }})" class="btn btn-outline-secondary" type="button" id="button-plus-{{ item.product.id }}">
                                                    +
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col">{{ item.discount }}</div>
                                        <div class="col">{{ item.price_discount }}</div>
                                        <div class="col">
                                            <button onclick="removeItem({{ item.product.id }})" type="button" class="btn btn-danger btn-sm delete-item" aria-label="حذف محصول">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                    <hr>
                                {% endfor %}
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <a href="{% url 'home' %}" type="button" class="btn btn-outline-success btn-large" aria-label="بازگشت به فروشگاه">بازگشت به صفحه اصلی</a>
                                <a href="{% url 'cart:clear' %}" type="button" class="btn btn-outline-success btn-large" aria-label="خالی کردن سبد خرید">خالی کردن سبد خرید</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                جزئیات سفارش
                            </div>
                            <div class="card-body col-lg-12">
                                <ul class="list-group col-lg-12">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        جمع کل فاکتور
                                        <span>{{ cart.get_total_price }} تومان </span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        هزینه ارسال
                                        <span>{{ cart.get_shipping_cost }} تومان</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        مبلغ قابل پرداخت
                                        <span>{{ cart.get_final_price }} تومان</span>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-success btn-block my-3">تکمیل سفارش</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    function fetchData(url) {
        return fetch(url)
            .then(response => response.json())
            .catch(error => console.error('Error:', error));
    }

    function renderCart() {
        fetchData('/v1/cart/')
            .then(response => {
                const cartResponse = response.cart;
                const cartItemsElement = document.querySelector('.cart-items');

                cartItemsElement.innerHTML = '';

                for (const item of cartResponse) {
                    const itemElement = document.createElement('div');
                    itemElement.classList.add('row');

                    itemElement.innerHTML = `
                        <div class="col">${item.product.name}</div>
                        <div class="col">${item.price}</div>
                        <div class="col-3">
                            <div class="input-group">
                                <button onclick="decrementQuantity(${item.product.id})" class="btn btn-outline-secondary" type="button" id="button-minus-${item.product.id}">
                                    -
                                </button>
                                <input type="text" class="form-control text-center" value="${item.quantity}" id="quantity-${item.product.id}">
                                <button onclick="incrementQuantity(${item.product.id})" class="btn btn-outline-secondary" type="button" id="button-plus-${item.product.id}">
                                    +
                                </button>
                            </div>
                        </div>
                        <div class="col">${item.discount}</div>
                        <div class="col">${item.price_discount}</div>
                        <div class="col">
                            <button onclick="removeItem(${item.product.id})" type="button" class="btn btn-danger btn-sm delete-item" aria-label="حذف محصول">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    `;

                    cartItemsElement.appendChild(itemElement);
                }
            });
    }

    function removeItem(productId) {
        fetch(`/v1/cart/remove/${productId}/`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
            .then(() => {
                renderCart();
                // Perform any additional actions after removing the item
            })
            .catch(error => console.error('Error:', error));
    }

    function incrementQuantity(productId) {
        const quantityElement = document.getElementById(`quantity-${productId}`);
        const quantity = parseInt(quantityElement.value);

        fetch(`/v1/cart/add/${productId}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ quantity: quantity })
        })
            .then(() => {
                renderCart();
                // Perform any additional actions after incrementing the quantity
            })
            .catch(error => console.error('Error:', error));
    }

    function decrementQuantity(productId) {
        fetch(`/v1/cart/mines/${productId}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
            .then(() => {
                renderCart();
                // Perform any additional actions after decrementing the quantity
            })
            .catch(error => console.error('Error:', error));
    }

    document.addEventListener('DOMContentLoaded', () => {
        renderCart();
    });
</script>
