
    <footer class="bg-dark text-white">
      <div class="container">
        <h5 class="footer-title">مشتریان، شرکت و رسانه های اجتماعی</h5>
        <div class="row">
          <div class="col-md-4">
            <ul class="footer__fristCol">
              <h6 class="footer__fristCol--title">خدمات مشتریان</h6>
              <li class="footer__fristCol--li">
                <a href="#">راهنما و تماس با ما</a>
              </li>
              <li class="footer__fristCol--li">
                <a href="#">بازگشت و استرداد</a>
              </li>
              <li class="footer__fristCol--li"><a href="#">آخرین پست ها</a></li>
              <li class="footer__fristCol--li">
                <a href="#">فروشگاه های آنلاین</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="footer__fristCol">
              <h6 class="footer__fristCol--title">شرکت</h6>
              <li class="footer__fristCol--li">
                <a href="#">فعالیت های ما</a>
              </li>
              <li class="footer__fristCol--li">
                <a href="#">خدمات در دسترس</a>
              </li>
              <li class="footer__fristCol--li"><a href="#">آخرین پست ها</a></li>
              <li class="footer__fristCol--li">
                <a href="#">سوالات متداول</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="footer__fristCol">
              <h6 class="footer__fristCol--title">رسانه های اجتماعی</h6>
              <li class="footer__fristCol--li">
                <a href="#">تلگرام</a>
              </li>
              <li class="footer__fristCol--li">
                <a href="#">اینستاگرام</a>
              </li>
              <li class="footer__fristCol--li"><a href="#">توییتر</a></li>
              <li class="footer__fristCol--li">
                <a href="#">پینترست</a>
              </li>
            </ul>
          </div>
          <div class="footer__line"></div>
          <div class="row">
            <div class="col-md-6">
              <div class="right__col">
                <p class="small text-muted">
                  آدرس : تهران
                </p>
                <p class="small text-muted">تلفن: +۹۸۲۱۲۲۲۲۲۲۲</p>
                <p class="small text-muted">ایمیل: f.mohamady1377@yahoo.com.com</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="left__col">
                <p class="small text-muted">
                  &copy; ۲۰۲۳ تمامی حقوق محفوظ است.
                </p>
                <p class="small text-muted">
                  وب سایت ساخته شده توسط
                  <a class="text-white reset-anchor" target="_blank"
                    >فاطمه محمدی</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>