{% extends 'base.html' %}
{% block content %}

    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}" dideo-checked="true">خانه ></a></li>
                        <svg class="breadcrumb-arrow" width="6px" height="9px">
                            <use xlink:href="/static/images/sprite.svg#arrow-rounded-right-6x9"></use>
                        </svg>
                        <li class="breadcrumb-item"><a href="{% url 'category_detail' product.category.pk %}"
                                                       dideo-checked="true">{{ product.category.title }} > </a></li>
                        <li class="" aria-current="page"> {{ product.name }} </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="product-card">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div id="product-images-carousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            {% for image in images %}
                                <li data-target="#product-images-carousel" data-slide-to="{{ forloop.counter0 }}"
                                    {% if forloop.first %}class="active"{% endif %}></li>
                            {% endfor %}
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            {% for image in images %}
                                <div class="carousel-item{% if forloop.first %} active{% endif %}">
                                    <img src="{{ image.image.url }}" alt="{{ image.title }}" class="d-block w-100">
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Controls -->
                        <a class="carousel-control-prev" href="#product-images-carousel" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#product-images-carousel" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-text">
                        <h2>{{ product.name }}</h2>


                           {% if product.discount.status or category.discount.status %}
                                <p class="card-title">
                                    <span style="text-decoration: line-through;margin-left: 10px">{{ product.price }} تومان</span>
                                    <strong style="color: red">{{ product.discount_price }} تومان</strong>
                                </p>
                           {% else %}
                                <p class="card-title">{{ product.price }} تومان</p>
                           {% endif %}



                        {% if product.stock %}
                            <p class="text-sm">
                                وضعیت موجود: موجود در انبار
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" color="green"
                                     fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                    <path
                                        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"></path>
                                </svg>
                            </p>
                        {% else %}
                            <p class="text-sm">وضعیت موجود: در انبار موجود نمی باشد
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                     class="bi bi-x-square" viewBox="0 0 16 16">
                                    <path
                                        d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                                    <path
                                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                                </svg>
                            </p>
                        {% endif %}
                        <ul>
                            {% for detail in details %}
                                <li>{{ detail }}</li>
                            {% endfor %}
                        </ul>
                        <button id="add" product="{{ product.id }}" type="button" class="btn btn-primary">اضافه کردن به
                            سبد خرید
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="des-card">
        <div class="container">
            <div class="card pt-3 pr-3 mb-3 mt-5">
                <h2>توضیحات</h2>
                <div class="card-body">
                    <p class="card-text">
                        {{ product.detail_description }}
                    </p>
                </div>
            </div>
            <div class="card pt-3 pr-3">
                <h2>نظرات مشتریان</h2>
                {% for comment in comments %}
                    <div class="card mt-3 ml-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ comment.customer.get_full_name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ comment.get_jalai_date }}</h6>
                            <p class="card-text">{{ comment.text }}</p>
                        </div>
                    </div>
                {% empty %}
                    <p>تا کنون نظری ثبت نشده است.</p>
                {% endfor %}

                {% if user.is_authenticated %}
                    <div class="card pt-3 pr-3 ml-3 mb-3">
                        <h2>افزودن دیدگاه</h2>
                        <form id="comment-form" style="padding: 20px" method="post"
                              action="{% url 'product_detail' pk=object.pk %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_text">دیدگاه:</label>
                                <textarea class="form-control" id="id_text" name="text" rows="5" required></textarea>
                            </div>
                            <p class="text-muted">نام کاربری: {{ user.username }}</p>
                            <button type="submit" class="btn btn-primary">ثبت دیدگاه</button>
                        </form>
                    </div>
                {% else %}
                    <p><a href="{% url 'login' %}?next={{ request.path }}"> برای ثبت دیدگاه ابتدا وارد شوید.</a></p>
                {% endif %}
            </div>

        </div>
    </section>
<script>
    $(document).ready(function(){
        // This code block runs when the document is ready

        $("#add").on('click', function(){
            // This code block executes when the element with id "add" is clicked

            let product = $("#add").attr("product");

            // Send an AJAX request to the server to add the product to the cart
            $.ajax({
                url: '/api/cart/'+ product + '/',
                type: 'POST',
                data: {
                    product_id: product,
                    csrfmiddlewaretoken: '{{ csrf_token }}'  // Replace with the actual value of the CSRF token
                },
                success: function(response){
                    console.log(response)
                    alert("محصول شما به سبد خرید اضافه شد.");
                    window.location.replace("/product/"+ product);
                },
                error: function(){
                    alert("مشکلی در اضافه کردن محصول به سبد خرید رخ داد.");
                }
            });
        });
    });
</script>

{% endblock %}