<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>فروشگاه جواهرات آنلاین</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdn.rtlcss.com/bootstrap/v4.5.3/css/bootstrap.min.css"
      integrity="sha384-RwTiwx1SsPGAsQZ2y3h3fc7kYvKg4tsw3wghAz5z7IYsMfE7GGvBXr+8xcyntYUV"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="./font/IRANSans/css/fontiran.css" />
    <link rel="stylesheet" href="./font/font/css/all.css" />
    <!--icons link -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <!-- navbar -->
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light navbar-light">
    <a class="navbar-brand" href="#">فروشگاه جواهرات آنلاین</a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"
                >صفحه اصلی<span class="sr-only">(فعلی)</span></a
                >
            </li>
            <li class="nav-item dropdown">
                <a
                        class="nav-link"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                >
                    محصولات
                    <i class="fa-solid fa-caret-down"></i>
                </a>
                <ul
                        class="dropdown-menu dropdown-menu-right"
                        aria-labelledby="navbarDropdown"
                        style="text-align: right"
                >
              <li><a class="dropdown-item" href="file:///home/mohammadi/Desktop/template/service_products.html" dideo-checked="true">سرویس جواهر</a></li>
              <li><a class="dropdown-item" href="#" dideo-checked="true">نیم ست جواهر</a></li>
              <li><a class="dropdown-item" href="#" dideo-checked="true">گردنبند جواهر</a></li>
              <li><a class="dropdown-item" href="file:///home/mohammadi/Desktop/template/ring_products.html" dideo-checked="true">انگشتر جواهر</a></li>
              <li><a class="dropdown-item" href="#" dideo-checked="true">دستبند جواهر</a></li>
              <li><a class="dropdown-item" href="file:///home/mohammadi/Desktop/template/earrings_products.html" dideo-checked="true">گوشواره جواهر</a></li>

                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">درباره ما</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">تماس با ما</a>
            </li>
        </ul>
        <ul class="navbar-nav me-lg-auto order-0">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-shopping-cart"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-search"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"
                ><i class="fa fa-user ps-2"></i> ورود / خروج</a
                >
            </li>
        </ul>
    </div>
</nav>

    <!-- Body-->
    <div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="file:///home/mohammadi/Desktop/template/home.html"
                                                   dideo-checked="true">خانه</a>
                        <svg class="breadcrumb-arrow" width="6px" height="9px">
                            <use xlink:href="/static/images/sprite.svg#arrow-rounded-right-6x9"></use>
                        </svg>
                    <li class="breadcrumb-item"><a href="file:///home/mohammadi/Desktop/template/ring_products.html"
                                                   dideo-checked="true">انگشتر جواهر</a>
                    <li class="breadcrumb-item active" aria-current="page"> انگشتر جواهر مارکیز</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
    <section class="product-card">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img class="img-card" src="./pic/10.jpg" alt="" />
          </div>
          <div class="col-md-6">
            <div class="card-text">
              <h2>انگشتر جواهر مارکیز</h2>
              <p>انگشتر جواهر با طراحی زیبا و منحصر به فرد است.</p>
              <p class="text-sm">
                وضعیت موجود:موجود در انبار
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="25"
                  height="25"
                  color="green"
                  fill="currentColor"
                  class="bi bi-check"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"
                  ></path>
                </svg>
              </p>
              <ul>
                <li>حلقه مارکیزبرلیان سفید پاک: ۸ عدد</li>
                <li>مارکیز سفید پاک: ۱۲ عدد</li>
                <li>وزن طلا: ۸.۱۰۰ گرم</li>
                <li>۸۹,۱۵۸,۰۰۰ تومان</li>
              </ul>
              <a href="#" class="btn btn-primary">افزودن به سبد خرید</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="des-card">
      <div class="container">
        <div class="card pt-3 pr-3 mb-3 mt-5">
          <h2>توضیحات</h2>
          <div class="card-body">
            <p class="card-text">
              حلقه مارکیز: در این حلقه مارکیز، از ۸ عدد برلیان سفید پاک و ۱۲ عدد
              مارکیز سفید پاک با درخشش و کیفیت بالا استفاده شده است. وزن طلای
              این حلقه در حدود 8 گرم میباشد. سنگهای این کار از نظر رنگ در رده g
              قرار دارد و از نظر پاکی در رده vs1 قرار میگیرد. کاری بسیار خاص و
              کلاسیک با درخشش و تلالویی زیبا و چشم نواز برای خانوم هایی که
              دوستدار کارهای کلاسیک میباشند.
            </p>
          </div>
        </div>
        <div class="card pt-3 pr-3">
          <h2>نظرات مشتریان</h2>
          <div class="card mt-3 ml-3">
              <div class="card-body">
                  <h5 class="card-title">علی</h5>
                  <h6 class="card-subtitle mb-2 text-muted">۱۳۹۹/۰۳/۲۰</h6>
                  <p class="card-text">این انگشتر خیلی زیباست. من خیلی خوشحالم که این را خریدم.</p>
              </div>
          </div>
          <div class="card mt-3 ml-3">
              <div class="card-body">
                  <h5 class="card-title">مریم</h5>
                  <h6 class="card-subtitle mb-2 text-muted">۱۳۹۹/۰۴/۰۱</h6>
                  <p class="card-text">من این انگشتر را به همه پیشنهاد می‌کنم. خیلی خوش دست است و با کیفیت بالایی ساخته
                      شده است.</p>
              </div>
          </div>
          <hr>

          <div class="card pt-3 pr-3 ml-3 mb-3">
              <h2>افزودن دیدگاه</h2>
              <form id="comment-form" style="padding: 20px">
                  <div class="form-group">
                      <label for="name">نام:</label>
                      <input type="text" class="form-control" id="name" name="name" placeholder="نام خود را وارد کنید"
                          required>
                  </div>
                  <div class="form-group">
                      <label for="email">ایمیل:</label>
                      <input type="email" class="form-control" id="email" name="email"
                          placeholder="ایمیل خود را وارد کنید" required>
                      <small class="form-text text-muted">ایمیل شما به دیگران نمایش داده نمی‌شود.</small>
                  </div>
                  <div class="form-group">
                      <label for="comment">دیدگاه:</label>
                      <textarea class="form-control" id="comment" name="comment" rows="5" required></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">ثبت دیدگاه</button>
              </form>
        </div> 
      </div>
    </section>
    <!-- footer -->
    <footer class="bg-dark text-white mt-5">
   
      <div class="container">
          <h5 class="footer-title">مشتریان، شرکت و رسانه های اجتماعی</h5>
          <div class="row">
              <div class="col-md-4">
                  <ul class="footer__fristCol">
                      <h6 class="footer__fristCol--title">خدمات مشتریان</h6>
                      <li class="footer__fristCol--li">
                          <a href="#">راهنما و تماس با ما</a>
                      </li>
                      <li class="footer__fristCol--li">
                          <a href="#">بازگشت و استرداد</a>
                      </li>
                      <li class="footer__fristCol--li"><a href="#">آخرین پست ها</a></li>
                      <li class="footer__fristCol--li">
                          <a href="#">فروشگاه های آنلاین</a>
                      </li>
                  </ul>
              </div>
              <div class="col-md-4">
                  <ul class="footer__fristCol">
                      <h6 class="footer__fristCol--title">شرکت</h6>
                      <li class="footer__fristCol--li">
                          <a href="#">فعالیت های ما</a>
                      </li>
                      <li class="footer__fristCol--li">
                          <a href="#">خدمات در دسترس</a>
                      </li>
                      <li class="footer__fristCol--li"><a href="#">آخرین پست ها</a></li>
                      <li class="footer__fristCol--li">
                          <a href="#">سوالات متداول</a>
                      </li>
                  </ul>
              </div>
              <div class="col-md-4">
                  <ul class="footer__fristCol">
                      <h6 class="footer__fristCol--title">رسانه های اجتماعی</h6>
                      <li class="footer__fristCol--li">
                          <a href="#">تلگرام</a>
                      </li>
                      <li class="footer__fristCol--li">
                          <a href="#">اینستاگرام</a>
                      </li>
                      <li class="footer__fristCol--li"><a href="#">توییتر</a></li>
                      <li class="footer__fristCol--li">
                          <a href="#">پینترست</a>
                      </li>
                  </ul>
              </div>
              <div class="footer__line"></div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="right__col">
                          <p class="small text-muted">
                              آدرس : تهران
                          </p>
                          <p class="small text-muted">تلفن: +۹۸۲۱۲۲۲۲۲۲۲</p>
                          <p class="small text-muted">ایمیل: f.mohamady1377@yahoo.com.com</p>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="left__col">
                          <p class="small text-muted">
                              &copy; ۲۰۲۳ تمامی حقوق محفوظ است.
                          </p>
                          <p class="small text-muted">
                              وب سایت ساخته شده توسط
                              <a class="text-white reset-anchor" target="_blank"
                              >فاطمه محمدی</a
                              >
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
    
    <!-- Bootstrap JavaScript -->

    <script
      src="https://cdn.rtlcss.com/bootstrap/v4.5.3/js/bootstrap.min.js"
      integrity="sha384-H9wjKxkD1VPM3cgrZKpYQwvpM8XhBeZq3vKuWjBpQnV2oN5VZ0j3cKv1dYKb3XX1"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
